<div class="row">
    <div class="col-xs-12">
      <!-- <p>Add new Servers or Blueprints</p>
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br> -->
      <p>Add new Servers or Blueprints</p>
      <label>Server Name</label>
      <input type="text" class="form-control" #serverName>
      <label>Server Content</label>
      <input type="text" class="form-control" #serverContentInput> 
      <br>
      <button class="btn- sm btn-primary" (click)="onAddServer(serverName)">Add server</button>
      <button class="btn- sm btn-primary" (click)="onAddBlueprint(serverName)">Add Blueprint</button>
    </div>
  </div>
